* {
  margin: 0px;
  padding: 0px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008cba;
  padding: 50px;
}

body{
  background-color: #f2f2f2;
}

.head h2 {
  margin-right: auto;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.input {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}