* {
  margin: 0px;
  padding: 0px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ba001f9c;
  padding: 50px;
  gap: 30px;
}

body {
  background-color: #9f30ee40;
}

.head h2 {
  margin-right: auto;
  color: rgb(108, 5, 5);
}

.links {
  display: flex;
  gap: 50px;
}

.links a {
  text-decoration: none;
  color: rgb(255, 191, 234);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.input {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}
.allPosts {
  display: grid;
  flex-direction: row;
  align-content: space-around;
  gap: 15px;
}

.post {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  width: 350px;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.post-username {
  font-size: 20px;
  margin-bottom: 10px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.post-button {
  background-color: rgb(108, 5, 5);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #e53935;
}
.searchInput {
  display: flex;
  width: 75%;
  padding: 15px;
  margin: 15px;
  padding: 8px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.create-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.create-title {
  display: flex;
  flex-direction: column;
}
.create-post-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 32px;
  text-align: center;

  margin-bottom: 20px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 60px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.create-post-label {
  font-size: 18px;
  margin-bottom: 10px;
}
.message-title {
  display: flex;
  flex-direction: column;
  font-size: 32px;
}
.create-post-input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.create-post-button {
  background-color: #4caf50;
  color: rgb(133, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.button {
  background-color: rgb(108, 5, 5);
  box-sizing: content-box;
  height: 30px;
}
.create-post-button:hover {
  background-color: #388e3c;
}
.messages {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(133, 0, 0);
  gap: 22px;
  margin: 40px;
  padding: 10px;
  border-radius: 30px;
}
.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 30px;
  border-radius: 10px;
}
#message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 12px;
  padding: 50px;
}
.profilePage {
  display: grid;
}
.logOutBtn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
